* {
    box-sizing: border-box;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(./pics/SpaceShooterRedux/Backgrounds/darkPurple.png);
    animation: scroll-background 5s linear infinite;
}

@keyframes scroll-background {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

.control {
    position: absolute;
    border: cornflowerblue 1px dotted;
    height: 32px;
    width: 32px;
    margin-top: -16px;
    margin-left: -16px;
}

#game form {
    color: white;
    display: none;
    position: absolute;
    z-index: 1;
}

#game form input:focus {
    outline: none;
}

#board {
    position: absolute;
    left : 20px;
    top: 20px;
}

#game .player {
    position: absolute;
    height: 24.27px;
    width: 32px;
    margin-top: -12.14px;
    margin-left: -16px;
}

.player-hit {
    animation: hit 0.1s linear 0s 3;
}

@keyframes hit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#game .laser {
    position: absolute;
    height: 32px;
    width: 5.39px;
    margin-top: -16px;
    margin-left: -2.7px;
}

#game .ray {
    position: absolute;
    opacity: 0;
    height: 32px;
    width: 32px;
    margin-top: -16px;
    margin-left: -16px;
    background-color: white;
}

#game .enemy {
    position: absolute;
    height: 28.86px;
    width: 32px;
    margin-top: -14.43px;
    margin-left: -16px;
}

#game .explosion {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 32px;
    margin-top: -16px;
    margin-left: -16px;
    background-image: url('./pics/explosions/halfsized/2-2.png');
    animation: playv 1s steps(8) infinite, playh 0.125s steps(8) infinite;
}

@keyframes playv {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -512px;
    }
}
@keyframes playh {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -512px;
    }
}