* {
    box-sizing: border-box;
}

/* #game {
    position: absolute;
    margin: 10px;
    border: 1px solid white;
} */

#game {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(./pics/SpaceShooterRedux/Backgrounds/darkPurple.png);
    animation: scroll-background 5s linear infinite;
}

#board {
    position: absolute;
    left : 20px;
    top: 20px;
}

@keyframes scroll-background {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

@keyframes hit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#game form {
    color: white;
    display: none;
    position: absolute;
    z-index: 1;
}

#game form input:focus {
    outline: none;
}

#game #score {
    position: absolute;
    margin: 20px;
    color: white;
}

#game #damage {
    position: absolute;
    margin: 20px;
    color: white;
    top: 90%;
}

#game .player {
    position: absolute;
    margin-left: -20px;
    margin-top: -18px;
    width: 40px;
}

.player-hit {
    animation: hit 0.1s linear 0s 3;
}

#game #laser {
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
}

#game #ray {
    position: absolute;
    opacity: 0;
    height: 100px;
    width: 5px;
    margin-left: -2.5px;
    background-color: white;
}

#game .enemy {
    position: absolute;
    margin-left: -20px;
    margin-top: -18px;
    width: 40px;
}

#game #explosion {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background-image: url('./pics/explosions/halfsized/2-2.png');
    animation: playv 1s steps(8) infinite, playh 0.125s steps(8) infinite;
}

@keyframes playv {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -512px;
    }
}
@keyframes playh {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -512px;
    }
}